.combo-box {
    -fx-border-width: 0.5px;
    -fx-border-color: navy;
    -fx-border-radius: 50px;
    -fx-background-color: navy;
    -fx-background-radius: 50px;
    -fx-font-size: 13px;
    -fx-padding: 0px;
}
.combo-box .list-cell {
    -fx-text-fill: white;
}

.accordion > .titled-pane {
    -fx-text-fill: white;
}

.accordion > .titled-pane > .title {
    -fx-background-color: navy;
}