.combo-box {
    -fx-border-width: 0.5px;
    -fx-border-color: navy;
    -fx-border-radius: 50px;
    -fx-background-color: navy;
    -fx-background-radius: 50px;
    -fx-font-size: 13px;
    -fx-padding: 0px;
}
.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell {
    -fx-text-fill: black;
}

.combo-box-base:editable > .arrow-button {
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: RIGHT;
}

.accordion > .titled-pane {
    -fx-text-fill: white;
}

.accordion > .titled-pane > .title {
    -fx-background-color: navy;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: lightBlue;
}

.table-view .column-header-background {
    -fx-background-color: lightBlue;
}
.table-view .column-header {
    -fx-background-color: lightBlue;
}